@import "./variable";
* {
  padding: 0;
  margin: 0;
  // border: 1px solid red;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
  font-family: "roboto";
}

.wrapper > * {
  margin-inline: 1rem;
}
