@import './mixin';
@import './variable';
h3 {
  text-align: center;
  margin-block: $item-space;
  padding-inline: 1rem;
  font-size: 2rem;
}

// ---------------------------------
iframe {
  aspect-ratio: 16/9;
  width: 100%;
}
// -----title--------------

.banner {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  background: linear-gradient(to top right, $color-third, $color-fourth);
  height: 30rem;
}

.banner-content {
  position: absolute;
  padding: 1rem;
  width: 50%;
  transform: translate(0, -120%);
}
// ---------bookmark--------------------
.bookmark-container {
  display: flex;
  justify-content: center;
}

.bookmark {
  width: 3rem;
  aspect-ratio: 1;
  cursor: pointer;
  transition: all 0.2s ease-out;
  border: none;
  background: none;
  .bookmark-svg {
    width: 5rem;
  }
}
.bookmark:hover {
  transform: scale(1.5);
}
.bookmark:active {
  fill: $color-second;
}

// -----------------------------------------
.banner-text {
  text-align: center;
  margin-block: $item-space;
  padding-inline: 1rem;
  white-space: nowrap;
  display: inline-block;
  font-size: 1.6rem;
  @include backgroundshape;
  &::after {
    background-color: purple;
  }
}

p,
span {
  font-size: 1.6rem;
  font-weight: 400;
}
span {
  text-transform: uppercase;
  align-self: center;
  text-shadow: 2px 2px 0px $color-second;
  font-weight: 800;
  color: white;
  letter-spacing: 1px;
}

.title {
  text-align: center;
  font-size: 18vw;
  text-transform: uppercase;
  white-space: nowrap;
}

h2 {
  @include backgroundshape;
  margin: 1rem;
  letter-spacing: 1px;
  color: $color-third;
  text-shadow: 4px 4px 0px $color-second;
  padding-block: 1rem;
  font-size: 7vw;
  // color: white;
  text-transform: uppercase;
  text-align: center;
  &::after {
    background: linear-gradient(to top right, $color-third, $color-first);
    width: 90%;
  }
}

.svg {
  aspect-ratio: 1/1;
  width: 2rem;
}
.header-nav {
  aspect-ratio: 1;
  width: 4rem;
  cursor: pointer;
}

a {
  color: white;

  transition: all 200ms ease-in-out;
  text-transform: uppercase;
  text-align: center;
  margin-block: $item-space;
  padding-inline: 1rem;
  font-size: 1.7rem;
  text-decoration: none;
}

a:hover {
  color: $color-third;
  transform: scale(1.1);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.522);
}

.next {
  @include item;
  text-transform: uppercase;
  transition: all 300ms ease-out;
  background-color: $color-third;
  margin: 2rem;
  box-shadow: 2px 2px 0px $color-second;
  cursor: pointer;
}

.next:hover {
  transform: scale(1.1);
  box-shadow: 4px 4px 0px $color-second;
}

.action {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.spinner-container {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.spinner {
  width: 7rem;
}
// ------ console---------------
.console {
  padding-inline: $item-space;
  align-self: center;
}
.console > *:not(:nth-last-child(1)) {
  margin-inline-end: $item-space;
}
// -------------------Game detail page------------------------------------------
.game-background {
  position: relative;
  .main-game-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-inline: 0.5rem;
    animation: fadeIn 4s ease-in-out 1s;
    .website {
      white-space: nowrap;
      padding-block: 0.5rem;
      padding-inline: 1rem;
      border-radius: 2px;
      background-color: $color-third;
      letter-spacing: 2px;
      border: none;
      a {
        color: black;
        font-weight: 600;
        font-size: 1.2rem;
      }
    }
  }
  .game-name {
    font-size: 2rem;
    color: $color-third;
  }

  .game-score {
    background-color: $color-third;
    padding: 0.5rem;
    color: white;
    position: absolute;
    top: 5%;
    right: 5%;
    p {
      font-size: 2rem;
      font-weight: bold;
      // text-shadow: 2px 2px 0px $color-second;
    }
  }
}
// --------------gameing detail-------------------
.content-wrapper {
  margin-block: 2rem;
}
.game-detail > *:not(:nth-last-child(1)) {
  padding-block: 2rem;
}

.game-main-content {
  p {
    text-align: start;
    background-color: white;
    padding: 1rem;
    font-size: 1.6rem;
    margin-block: 1rem;
    line-height: 2.5rem;
    br {
      margin: 2rem;
    }
  }
}
// ---------------------------
.main-game-content > * {
  margin-block: 0.5rem;
}

.Game-preview {
  padding: 2rem;
  margin-top: 1rem;
}
.developer,
.release-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-image {
  width: 100%;
  aspect-ratio: 16/9;
  // padding: 1rem;
  object-fit: cover;
  object-position: center;
  height: fit-content;
}

.thumb-nail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  img {
    width: 70px;
    height: 70px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
  }
}
// -----------------------
.image-collection {
  padding: 2rem;
}

footer {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  background-color: $color-first;
  padding-block: 3rem;
  color: white;
  padding-inline: 2rem;
  p,
  span {
    align-self: center;
    text-transform: uppercase;
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 767px) {
  .background {
    aspect-ratio: 16/9;
  }
  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .content-wrapper > * {
    margin: 1rem;
  }
  .main-game-content {
    padding: 2rem;
    animation: fadeIn 4s ease-in-out 1s;
  }
  .game-name {
    font-size: 4vw !important;
    color: $color-third;
  }
  .main-game-content > *:not(:nth-child(1)) {
    margin-block: 1rem;
  }
}
